*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;  
  list-style: none;
  text-decoration: none;
}

p{
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 20px;
    color: #a9a9a9;
}

h1.title{
    margin-bottom: 20px;
    color: #444444;
    text-transform: uppercase;
    font-size: 38px;
    word-spacing: 25px;
    letter-spacing: 5px;
}

.btn a{
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px auto 2px;   
}
hr{
    border-top: 3px solid orangered;
    width: 50px;
    margin: auto;
    align-items: center;
    margin-bottom: 10px;
    
}
.main-container{
    position: relative;
}

/* navaigation bar styles */
.navbar{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
}
.logo a{
font-size: 20px;
color: #ffffff;
}
.navbar .navbar_items ul{
    display: flex;
}
.navbar .navbar_items ul li{
    text-transform: uppercase;
    margin: 0 10px;
    font-size: 15px;
}
.navbar .navbar_items ul li{
    color: #ffffff;
}
/* banner image*/
.banner_image{
    background: url("portfolio/bg-masthead.jpg") no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner_content{
    text-align: center;
    color: #ffffff;
}
.banner_content h1{
    text-transform: uppercase;
    line-height: 38px;
    margin-bottom: 15px;
}
.banner_content h1 span{
    color: #ffffff;
}
/* botton find out more*/
.banner_content .btn a{
    border-radius: 32px;
    background-color: orangered;
    color: #ffffff;
}
.started{
    text-align: center;
    padding: 10px;
    text-decoration: none;
    background-color: orangered;
}
.title{
    padding: 10px;
    color: #ffffff;
}
.title hr{
    color: #ffffff;
    padding: 5px;
    width: 50px;
    margin: auto;
}
.started .btn a{
    background-color: #ffffff;
    color: black;
    border-radius: 30px;
    
}
.service .title{
    text-align: center;
    text-decoration: none;
    color: black;

}
.diff_services{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.diff_services .diff_services_items img{
    margin: -10px 0px;
    padding-top: 15px;
}