@charset "UTF-8";

/* global style */

*{
  box-sizing: border-box;
  outline: none;  
  list-style: none;
  text-decoration: none;
  padding: none;
  margin: 0px;
  text-align: center;
  
}
hr{
    width: 30px;
    align-items: center;
    justify-content: center;
    color: red;
}

/* navbar style */

.container{
    width: 70%;
    margin: 0 auto;
    padding: 10px;
}

.navbar{
    padding: 10px;
}
.navbar .nav-items{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 5px;
}
.bg{
    background-image: url('portfolio-images/bg-masthead.jpg');
    background-color: chocolate;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 10;
}


/* logo style */

.logo a{
    color: white;
    font-size: 1.3rem;
    
}

/* links styles */

.navbar .nav-items .links ul li{
    display: inline-block;
    padding: 0px 12px;
}
.navbar .nav-items .links ul li a{
    color: white;
}


/* section style */

.themes .container{
    width: 50%;
}

.themes-text .subhead{
    font-size: 3.6rem;
    word-spacing: 0.5px;
    padding-top: 130px;
    padding-bottom: 20px;
    color: white;
    font-weight: bold;
}
.themes-text  hr{
    width: 5%;
    margin: 10px auto;
    border: 2px solid brown;
}
.themes-text .mashead{
    color: white;
    margin: 20px;
}
.themes-text button{
    background-color: brown;
    border-radius: 20px;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    border: 20px;
}

/* Started styles */
.started{
    background-color: brown;
    width: 100%;
}

.started-text .head{
    color: white;
    font-size: 2rem;
    margin: 50px auto 20px auto;
}
.started-text hr{
    color: white;
    margin: 10px auto;
}
.started-text button{
    background-color: white;
    border-radius: 20px;
    border: none;
    color: black;
    font-weight: bold;
    padding: 10px;
    border: 30px;
    margin-top: 30px;

}
