@charset "UTF-8";

/* global style */

*{
  box-sizing: border-box;
  outline: none;  
  list-style: none;
  text-decoration: none;
  padding: none;
  margin: 0px;
  text-align: center;
  
}
hr{
    width: 30px;
    align-items: center;
    justify-content: center;
    color: red;
}

/* navbar style */

.container{
    width: 70%;
    
    padding: 10px;
}

.navbar{
    padding: 10px;
}
.navbar .nav-items{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 5px;
}
.bg{
    background-image: url('portfolio-images/bg-masthead.jpg');
    background-color: chocolate;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 10;
}
.navbar .nav-items .links{
    margin-left: auto;
}


/* logo style */

.logo a{
    color: white;
    font-size: 1.3rem;
    
}

/* links styles */

.navbar .nav-items .links ul li{
    display: inline-block;
    padding: 0px 12px;
    
}
.navbar .nav-items .links ul li a{
    color: white;
}


/* section style */

.themes .container{
    width: 50%;
}

.themes-text .subhead{
    font-size: 3.6rem;
    word-spacing: 0.5px;
    padding-top: 130px;
    padding-bottom: 20px;
    color: white;
    font-weight: bold;
}
.themes-text  hr{
    width: 5%;
    margin: 10px auto;
    border: 2px solid orangered;
}
.themes-text .mashead{
    color: white;
    margin: 20px;
}
.themes-text button{
    background-color: orangered;
    border-radius: 20px;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    border: 20px;
}

/* Started styles */
.started{
    background-color: orangered;
    width: 100%;
    padding-bottom: 30px;
}

.started-text .head{
    color: white;
    font-size: 2rem;
    margin: 50px auto 20px auto;
}
.started-text hr{
    border: 2px solid white;
    margin: 10px auto;
}
.started-text button{
    background-color: white;
    border-radius: 20px;
    border: none;
    color: black;
    font-weight: bold;
    padding: 10px;
    border: 30px;
    margin-top: 30px;

}
/* service styles */
.services{
    padding-bottom: 50px;
}
.services .head{
    font-weight: bold;
    margin-top: 100px;
    font-size: 2rem;
}
.services hr{
    border: 2px solid orangered;
    margin: 10px auto;
}
.services .row{
    margin-top: 80px;
}
.services .row .icon{
    color: orangered;
    margin-bottom: 20px;
}
/* gallery styles */
.gallery .container{
    margin: 120px 0 0 0;
    padding: 0px;
    width: 100%;
}
.gallery img{
    width: 570px;
    height: 250px;
}
/* download styles */
.download{
    background-color: dimgray;
    padding-top: 90px;
    padding-bottom: 90px;
}
.download h2{
    color: white;
    margin-bottom: 30px;
}
.download button{
    background-color: white;
    border-radius: 30px;
    border: none;
    color: black;
    font-weight: bold;
    padding: 20px 30px;
    font-size: 0.9rem;
}
/* contact styles */
.contact h2{
    color: dimgray;
    font-weight: bold;
}
.contact hr{
    border: 2px solid orangered;
    margin: 30px auto;
    width: 50px;

}
.contact .icon{
    margin: 30px 0;
}
.contact .icon p{
    margin: 20px;
}
.contact .icon .red{
    color: red;
}
